/* 모바일 기본 글자 크기 */
body{
  font-size: 1.5rem;
  background-color: pink;
}

/* 모바일 레이아웃 */
.appHeader, 
.appMain {
  width: 100%;
}
/* 모바일 헤더 */
.appHeader{
  background-color: silver;
  grid-template: auto / 1fr;
  align-items: center;
  background-color: #38302e;
  /* display: flex;
  flex-flow: column nowrap; */
}
.brand, .memberOnly, .searchForm{
  padding: 10px 20px;
}
/* 모바일 브랜드 */
.brand *{
  display: block;
}

/* 모바일 멤버 링크 */
.memberOnly{
  order: -1;
  background-color: #988574;
  color: #fff;}
/* 모바일 검색폼 */
input[type="search"]{
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 2px 5px;
  height: 35px;
  width: calc(100% - 45px);
  margin-right: 5px;
}
.buttonSearch{
  width: 35px;
  height: 35px;
  border: 0;
  padding: 0;
}
/* 모바일 네비게이션 */
.appNavigation{
  background-color: purple;
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  transform: translateX(-100%);
}
/* 모바일 메인 컨텐츠 */
.appMain{
  background-color: lime;
}
/* 모바일 푸터 */
.appFooter{
  background-color: orange;
}